/* 
    case-study.css
    contains styling for elements relevant to the case study pages
*/

/* Case Study Clients */

.pixodime {
    background-image: url('../assets/pixodime/pixodime-hero.jpg');
    overflow: hidden;
}

.client-name {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.sep-line {
    height: 1px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
}

.services-for-case {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* Hero Section */

#hero-wrapper {
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
  
.hero-overlay {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
  
.hero-overlay h1 {
    margin: 25px 0;
}
  
.hero-overlay li {
    font-size: 1.5em;
    font-style: italic;
    display: inline-block;
    margin: 25px 15px;
}
  
.scroll-icon {
    color: #eee;
    font-size: 3em;
    position: absolute;
    bottom: 100px;
    animation-name: scroll-icon-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
    opacity: 0.5;
}
  
@keyframes scroll-icon-animate {
    from {opacity: 0.11;}
    to {opacity: 1; bottom: 50px;}
}
  
/* Client Intro Section */
  
#client-intro-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
    overflow: hidden;
}
  
#client-intro-wrapper * p {
    font-size: 1em;
    line-height: 2em;
}
  
.client-logo {
    height: 70px;
}
  
#client-intro-copy {
    padding: 0px 250px;
    padding-top: 50px;
}
  
#client-intro-copy p {
    margin: 40px 0;
    text-align: justify;
}
  
/* Challenge Approach Section */
  
#challenge-approach-wrapper {
    background-color: #eee;
    display: flex;
    flex-flow: row nowrap;
    padding: 70px 40px;
    overflow: hidden;
    margin-bottom: 200px;
}
  
#challenge-approach-wrapper * {
    width: 85%;
    margin: 0 auto;
}
  
#challenge-approach-wrapper * p {
    padding: 20px 0;
    font-size: 1em;
    color: #333;
    line-height: 2;
    text-align: justify;
}
  
.two-col-copy {
    flex-basis: 50%;
}
  
/* Solution Section */
  
#solution-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
    overflow: hidden;
    margin-bottom: 200px;
}
  
#solution-wrapper > p {
    font-size: 1em;
    line-height: 2;
    padding: 50px 250px;
    text-align: justify;
}
  

/* Slideshow Section */

.slideshow-wrapper {
    height: auto;
    max-width: 100%;
    position: relative;
    margin: 50px auto;
    /* border: 1px solid #eee; */
    overflow: hidden;
}

#slideshow-header {
    margin: 0 auto;
    text-align: center;
}
  
.slides {
      display: none;
      overflow: hidden;
}

.slides > img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
  
.prev, .next {
    color: #ddd;
    font-size: 1.5em;
    padding: 20px;
    transition: 0.6s ease;
    cursor: pointer;
}
  
.prev:hover, .next:hover {
    color: #333;
}
  
.dot {
    background-color: #bbb;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin: 0 2px;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    cursor: pointer;
}
  
#img-circles-wrapper {
    text-align: center;
    margin-bottom: 100px;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
  
@-webkit-keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
}


/* Contact CTA Section */
  
#contact-cta-wrapper {
    align-items: center;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 50px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
  
.contact-cta {
    margin-top: 50px;
    margin-bottom: 25px;
}

/* Next and Previous Thumbnails */
  
#case-studies-wrapper {
    height: 500px; 
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 50px 0;
}
  
.case-study-link {
    width: 50%;
    flex-basis: 50%;
    overflow: hidden;
}
  
.case-link-overlay {
    background-color: #55f7d4;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: 300ms background-color;
    cursor: pointer;
}
  
.case-link-overlay:hover {
    background-color: rgba(85, 247, 212, 0.80);
}
  
.case-study-link > img {
    width: 100%;
    height: 100%;
}
  
#case-previous, #case-next {
    position: relative;
}
  
.alpha-1 {
    background-color: rgba(74, 162, 248, 0.9);
}
  
.alpha-2 {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Media Queries */

@media (max-width: 78.125em) {
    #client-intro-copy {
        padding: 50px 150px;
    }
    #solution-wrapper > p {
        padding: 50px 150px;
    }
  
}

@media (max-width: 61.125em) {
    .client-logo {
        height: 40px;
    }
    #client-intro-copy {
        padding: 50px 0;
    }
    #solution-wrapper > p {
        padding: 50px 0;
    }
    #slideshow-copy > p {
        padding: 50px 0;
    }
    #challenge-approach-wrapper {
        padding: 70px 10px;
    }
    .two-col-copy {
        flex-basis: 40%;
    }
}

@media (max-width: 48em) {
    .hero-overlay li {
        font-size: 1em;
    }
    #challenge-approach-wrapper {
        flex-flow: column nowrap;
        padding: 90px 0 50px 0;
    }
    #challenge-approach-wrapper * p {
        margin-bottom: 40px;
    }
    #finished-product-images {
        flex-flow: column nowrap;
        height: 100%;
        width: 80%;
        margin: auto;
    }
    #case-studies-wrapper {
        flex-flow: column nowrap;
        /* flex-basis: 100%; */
    }
    .case-study-link {
        width: 100%;
        flex-basis: 100%;
        overflow: hidden;
    }
}

@media (max-width: 26.5625em) {
    #client-intro-copy {
        padding: 50px 0px;
    }
    #challenge-approach-wrapper {
        padding: 70px 10px;
    }
}

@media (max-width: 23.4375em) {
    .hero-overlay li {
        display: inline-block;
        margin: 25px 5px;
    }
}