/* 
    index.css
    contains styling for elements relevant to only the home page
*/

#hero-wrapper {
    height: 550px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
    padding: 100px 0;
    position: relative;
}
  
#hero-wrapper h1 {
    width: 75%;
}

.move-down {
    position: absolute;
    bottom: 100px;
}
  
#projects-wrapper {
    display: flex;
    flex-flow: row wrap;
}
  
.project {
    height: auto;
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}
  
.project img {
    max-width: 100%;
    display: block;
    height: auto;
}
  
.img-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: 350ms ease-out opacity;
    opacity: 0;
    z-index: 10;
}
  
.img-overlay:hover {
    opacity: 1;
}
  
#about-wrapper {
    border-top: 1px solid #eee;
    padding-top: 50px;
    margin-top: 100px;
}
  
#intro-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
  
#intro-pic {
    flex-basis: 20%;
}
  
#intro-copy {
    flex-basis: 50%;
    padding: 0 80px;
}
  
#intro-pic img {
    height: auto;
    max-width: 100%;
    border-radius: 300px;
}
  
#career-wrapper {
    margin: 100px 0;
}
  
.career-item-wrapper {
    background-color: #eee;
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding: 40px 40px;
    border-left: 10px solid #777;
    transition: 400ms box-shadow;
}
  
.career-left {
    flex-basis: 30%;
    display: flex;
    flex-flow: column;
}
  
.career-right {
    line-height: 2;
    flex-basis: 68%;
}
  
.career-item {
    margin: 10px 0;
}
  
.job-position {
    font-weight: bold;
    text-transform: uppercase;
}
  
.company,
.dates {
    font-style: italic;
}
  
.career-item-wrapper:hover {
    box-shadow: unset;
}

#tools-wrapper {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 50px;
}
  
.tool {
    color: #ccc;
    font-size: 50px;
    flex-basis: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}

#js,
#php,
#java {
    font-size: 4.5em;
}

#svg-1 {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 80px;
    right: 20%;
    animation-name: square-lateral;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -200;
}

#svg-2 {
    height: 150px;
    width: 150px;
    position: absolute;
    top: -100px;
    left: 20%;
    animation-name: circle-freefall;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    z-index: -200;
}

#circle {
    fill: #55f7d4;
}

#square {
    fill: #55f7d4;
    height: inherit;
    width: inherit;
}

@keyframes square-lateral {
    from {transform-origin: 0 0;}
    to {transform: rotate(120deg);}
}
  
@keyframes circle-freefall {
    from {top: -100px;}
    to {top: 750px;}
}
  
@media (max-width: 90em) {    
    #intro-copy {
        flex-basis: 70%;
        padding: 0 80px;
    }
    .career-item-wrapper {
        width: 90%;
    }
    #tools-wrapper {
        width: 90%;
    }
}

@media (max-width: 68.75em) {
    .project {
        max-height: 350px;
        flex-basis: 100%;
    }
    #intro-copy {
        flex-basis: 80%;
        padding: 0 50px;
    }
    .career-item-wrapper {
        width: 100%;
    }
    .career-right {
        font-size: 0.8em;
    }
    #tools-wrapper {
        width: 100%;
    }

}

@media (max-width: 56.875em) {
    .project {
        max-height: 300px;
    }
    .career-item-wrapper {
        flex-flow: column nowrap;
        padding: 60px 40px;
        
    }
    .career-left {
        text-align: center;
        flex-basis: 20%;
        margin-bottom: 15px;
    }
    .career-right {
        flex-basis: 70%;
        margin-top: 15px;
        text-align: center;
    }
}

@media (max-width: 48em) {
    .project {
        max-height: 250px;
    }
    #intro-wrapper {
        flex-flow: column nowrap;
    }
    #intro-pic {
        margin-bottom: 30px;
    }
    #intro-pic img {
        max-height: 100%;
        max-width: 200px;
    }
    #intro-copy {
        padding: 0;
        text-align: center;
    }
    .career-left {
        font-size: 0.8em;
    }
    .tool {
        margin: 25px 5px;
    }
}

@media (max-width: 31.25em) {
    .tool {
        margin: 5px 15px;
    }
    .career-item-wrapper {
        background-color: #fff;
        border: none;
        padding: 40px 5px;
        border-top: 1px solid #eee;
        margin-top: 20px;
    }
    #hero-wrapper {
        padding: 50px 0;
    }
    #hero-wrapper h1 {
        text-align: center;
    }
    #svg-1 {
        height: 50px;
        width: 50px;
    }
    #circle {
        display: none;
    }
    #small-circle {
        display: block;
    }
}

