@font-face {
  font-family: 'Lato-Regular';
  src: url(../assets/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  font-size: 1.2em;
  line-height: 1.8em;
}

h1 {
  font-size: 3.5em;
  font-weight: 900;
  line-height: 1.5em;
}

h2 {
  font-size: 3.0em;
  font-weight: 900;
  line-height: 1.5em;
}

h3 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.5em;
}

h4 {
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 1.5em;
}

.container {
  margin: 50px 100px;
}

#sidebar {
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 6px solid #55f7d4;
  transition: 400ms ease-out;
  z-index: 20;
}

#menu {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: -80vw;
  z-index: 100;
  background-color: white;
  transition: 400ms ease-out;
  height: 100%;
  width: 80vw;
}

#close {
  position: absolute;
  top: 50px;
  right: 100px;
  font-size: 3em;
  color: #333;
  transition: 300ms ease-out;
  cursor: pointer;
}

#close:hover {
  color: #55f7d4;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  margin: 0 20%;
}

nav a {
  font-size: 6em;
  font-weight: 900;
  line-height: 1em;
  margin: 30px 0;
  transition: 200ms color;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

nav a:hover {
  color: #55f7d4;
}

#menu-btn {
  background-color: #55f7d4;
  padding: 9px 25px;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-tranform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: fixed;
  top: 220px;
  left: 0px;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  overflow: hidden;
  transition: 400ms ease-out background-color;
  cursor: pointer;
}

#menu-btn:hover {
  background-color: #ddd;
}

main {
  /* margin-left: 100px;
  padding: 10px 100px 50px 0; */
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 100px;
}

header h2 {
  color: #ddd;
  text-align: right;
}

/* Hero Section */

#hero {
  padding: 100px 0;
  height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

#hero h1 {
  margin-bottom: 50px;
}

.primary-link {
  font-family: helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: lowercase;
  padding: 15px 25px;
  background-color: #ddd;
  /* border: 1px solid #55f7d4; */
  transition: 400ms ease-out;
  color: #333;
  /* border-radius: 4px; */
  /* box-shadow: 150px 0 #55f7d4 inset; */
}

.primary-link:hover {
  /* box-shadow: 0 5px 10px #777; */
  background-color: #55f7d4;
  /* color: #fff; */
}

/* Projects Section  */

#projects {
  padding-bottom: 50px;
}

#projects-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.project {
  flex-basis: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
}

.img-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: 350ms ease-out opacity;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.img-overlay:hover {
  opacity: 1;
}

.light {
  color: #fff;
}

/* About Section */

#about {
  margin-top: 100px;
  border-top: 1px solid #eee;
  /* border-bottom: 23px solid #ddd; */
}

#about-wrapper {
  margin-top: 100px;
  height: 100%;
}

#intro-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

#intro-pic {
  flex-basis: 20%;
}

#intro-copy {
  flex-basis: 80%;
  padding: 0 80px;
}

#intro-pic img {
  max-width: 100%;
  height: auto;
  border-radius: 200px;
}

/* Tools */

#tools {
  /* margin: 50px 0; */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#tools-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.tool {
  font-size: 50px;
  color: #999;
  flex-basis: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

#js,
#php,
#java {
  font-size: 65px;
}

#tools-header-wrapper {
  flex-basis: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}

/* Career */

#career-wrapper {
  margin: 100px 0;
}

.career-item-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  /* font-size: 1.1em; */
  box-shadow: 0 3px 15px #777;
  margin-top: 50px;
  background-color: #eee;
  border-left: 10px solid #777;
  transition: 400ms box-shadow;
}

.career-left {
  flex-basis: 20%;
  display: flex;
  flex-flow: column nowrap;
}

.career-right {
  flex-basis: 75%;
  line-height: 2em;
  font-size: 1em;
}

.career-item {
  margin: 10px 0;
}

.position {
  font-weight: bold;
  text-transform: uppercase;
}

.company,
.dates {
  font-style: italic;
}

.career-item-wrapper:hover {
  box-shadow: unset;
}

/* Footer */

footer {
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.vertical-flex-wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding: 50px 0;
  align-items: center;
}

#social-links {
  font-size: 1.6em;
  display: flex;
  flex-flow: row nowrap;
}

.social-link a {
  margin: 0px 10px;
  transition: 200ms color;
}

.social-link a:hover {
  color: #55f7d4;
}

#copyright {
  margin: 20px 0;
}

#privacy-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.privacy-link {
  transition: 400ms box-shadow;
  padding: 0 3px;
}

.privacy-link:hover {
  box-shadow: 150px 0px #a4fbe7 inset;
}

.green-line {
  background-color: #55f7d4;
  height: 3px;
  width: 50px;
  margin: 0 20px;
}

#author-brand {
  margin-top: 50px;
  color: #aaa;
}

#author-font {
  font-size: 1.5em;
  font-weight: 900;
  color: #aaa;
  padding: 0 3px;
  transition: 200ms color;
}

#author-font:hover {
  color: #55f7d4;
}

/* TESTING SVGS */
#square-1 {
  fill: #55f7d4;
}

#circle {
  fill: #55f7d4;
}

#svg-1 {
  position: absolute;
  top: 80px;
  right: 200px;
  animation-name: square-lateral;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: -200;
}

#svg-2 {
  position: absolute;
  top: -100px;
  left: 450px;
  z-index: -200;
  animation-name: circle-freefall;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes circle-freefall {
  from {top: -100px;}
  to {top: 750px;}
}

@keyframes square-lateral {
  from {transform-origin: 0 0;}
  to {transform: rotate(120deg);}
}



/* TESTING SVGS */


/* Contact Page */

#contact-form-wrapper {
  width: 65%;
  margin: 0 auto 50px auto;
  padding: 50px 50px; 
  text-align: center;
}

.input-box {
  width: 100%;
  height: 60px;
  display: block;
  outline: none;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 4px;
  border: 1px solid #aaa;
  margin: 20px 0;
  background-color: inherit;
  color: #555;
}

.input-box:focus {
  box-shadow: 0 0 8px skyblue;
  border: 1px solid skyblue;
}

#message {
  height: 200px;
  resize: none;
  line-height: 1.5em;
}

#submit-btn {
 /* background-color: #55f7d4; */
  box-shadow: 0 5px 10px #333;
  border: none;
  margin: 0px auto;
  width: 100%;
  background-color: #333;
  border-radius: 4px;
  color: #eee;
  height: 70px;
  transition: 400ms box-shadow;
  cursor: pointer;
}

#submit-btn:hover {
  box-shadow: 0 0 0 #fff;
}

#contact-header {
  margin: 50px 0;
}

.error {
  width: 100%;
  margin: 50px 0 0 0;
  font-size: 1.3em;
  color: skyblue;
  /* background-color: #aaa; */
  /* color: red; */
}

/* Case Study Page */

/* Hero Section */

#case-study-hero {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pixodime {
  background-image: url('../assets/pixodime/pixodime-hero.jpg');
  filter: grayscale(100%);
  /* z-index: -10; */
}

.case-study-hero-overlay {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* background-color: #55f7d4; */
  /* z-index: 100; */
}

.case-study-hero-overlay h1 {
  margin: 25px 0;
  /* padding: 40px; */
}

.case-study-hero-overlay li {
  display: inline-block;
  margin: 25px 15px;
  font-size: 1.5em;
  font-style: italic;
}

.scroll-icon {
  font-size: 3em;
  position: absolute;
  bottom: 100px;
  opacity: 0.5;
  animation-name: scroll-icon-animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
  color: #eee;
}

@keyframes scroll-icon-animate {
  from {opacity: 0.11;}
  to {opacity: 1; bottom: 50px;}
}

/* Client Intro Section */

#client-intro-wrapper {
  margin-top: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#client-intro-wrapper * p {
  font-size: 1em;
  line-height: 2em;
}

.client-logo {
  height: 100px;

  /* padding: 50px; */
}

#client-intro-copy {
  padding: 50px 125px;
  /* text-indent: 50px; */
  /* margin: 20px 0; */
}

#client-intro-copy p {
  margin: 20px 0;
  text-align: center;
}

/* Challenge Approach Section */

#challenge-approach-wrapper {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: center; */
  padding: 100px 40px;
  background-color: #eee;
}

#challenge-approach-wrapper * {
  width: 85%;
  margin: 0 auto;
}

#challenge-approach-wrapper * p {
  padding: 20px 0;
  font-size: 1em;
  color: #333;
  line-height: 2em;
}

#challenge {
  flex-basis: 50%;
}

#approach {
  flex-basis: 50%;
}

.case-study-header {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #333;
  /* box-shadow: 0px 30px #55f7d4 inset; */
}

.case-study-subheader {
  font-size: 1.2em;
  font-style: italic;
}

#solution-wrapper {
  /* height: 500px; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 25px;
  /* background-color: #ddd; */
}

#solution-wrapper > p {
  font-size: 1em;
  line-height: 2em;
  padding: 50px 0;
  text-align: center;
  width: 60%;
}

.client-site {
  margin: 0;
  /* padding: 0; */
}

#finished-product-hero {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pixodime-back {
  background-image: url('../assets/pixodime/pixodime-back.png');
}

#finished-product-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#finished-product-images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 98%;
  margin: 0 auto;
}

.product-image {
  margin: 0 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transform: translateY(40px);
}


/* Slideshow container */
.slideshow-wrapper {
  max-width: 100%;
  max-height: 700px;
  position: relative;
  margin: 50px auto;
  overflow: hidden;
  border: 1px solid #ddd;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  padding: 20px;
  color: #ddd;
  font-size: 1.5em;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  /* right: 0; */
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #333;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#img-circles-wrapper {
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

#slideshow-header {
  margin: 0 auto;
  text-align: center;
}

#slideshow-copy > p {
  font-size: 1em;
  line-height: 2em;
  padding: 50px 0;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.mySlides > img {
  width: 100%;
}

#contact-cta-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 50px 200px ;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.contact-cta {
  margin-top: 50px;
  margin-bottom: 25px;
}

#case-studies-links {
  /* height: 400px; */
}

#case-studies-wrapper {
  height: 400px; 
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 50px 0;
  /* overflow: hidden; */
}

.case-study-link {
  width: 50%;
  background-color: #ddd;
  flex-basis: 50%;
  overflow: hidden;
}

.case-link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms background-color;
  background-color: #55f7d4;
}

.case-link-overlay:hover {
  background-color: rgba(85, 247, 212, 0.85);
}

.case-study-link > img {
  width: 100%;
  height: 100%;
}

#case-previous, #case-next {
  position: relative;
}

.alpha-1 {
  background-color: rgba(150,150,150, 0.9);
}

.alpha-2 {
  background-color: rgba(0, 0, 0, 0.7);
}